.op-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 180px;
}

.add-meals {
  width: 135px;
  height: 82px;
  margin-bottom: 15px;
  background: #ff9243;
  border-radius: 15px;
  justify-content: center;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.op-container-bf {
  display: flex;
  height: 500px;
  width: 400px;
  padding-top: 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-bf {
  width: 170px;
  height: 90px;
  margin-bottom: 15px;
  background: #ff9243;
  border-radius: 15px;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  border: none;
}
.menu_bf {
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
  width: 600px;
  height: 300px;
  position: static;
}
