#header {
  position: absolute;
  width: 1194px;
  height: 99px;
  left: 0px;
  top: 0px;
  background: #f3db85;
  display: flex;
  align-content: space-between;
  padding-left: 45px;
}
#logo2 {
  height: 100%;
  left: 45px;
  top: 3px;
}

#time {
  margin-top: 35px;
  margin-left: 670px;
  font-size: 25px;
  color: #6f1a70;
}

