#header {
  position: absolute;
  width: 1194px;
  height: 99px;
  left: 0px;
  top: 0px;
  background: #f3db85;
  display: flex;
  align-content: space-between;
  padding-left: 45px;
}
#logo2 {
  /* position: absolute; */
  height: 100%;
  left: 45px;
  top: 3px;
}

#time {
  margin-top: 35px;
  margin-left: 500px;
  font-size: 25px;
  color: #6f1a70;
}
/* .btn-nav {
    width: 200px;
    height: 70px;
    left: 0px;    
    font-size: 20px;
    line-height: 48px;  
    color: #6f1a70;
   align-self: center;
    border-style: none;
    background: none;
    transition: all .1s ease;
}
.btn-nav:active {
    background: #F3DB85;
} */
