#comanda-container {
    margin-left: 300px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
    overflow: scroll;
  }
  .card-comanda {
    background-image: url("../../assets/postit.png");
    background-size: auto 100px;
    height: auto;
    width: 400px;
    /* margin-bottom: 20px;
    padding-bottom: 50px; */
  }
  