#comanda-container{
    margin-left: 300px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 900px;
}
.card-comanda{
    background-image: url("https://i.pinimg.com/originals/54/bb/56/54bb56c7785472bd54344e054e539324.jpg");
    width: 20%;
    height: 20%;

}